/* Стили для меню до входа */
.menu-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(150, 100, 200, 0.7);
    border-radius: 15px;
    padding: 10px;
    z-index: 1000;
    margin-right: 10px;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
}

.menu-items {
    display: flex;
    gap: 10px;
}

.menu-item {
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-right: 10px; /* Отступ справа */
}

.menu-item:hover {
    background-color: white;
    color: black;
}
